@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	overflow-x: hidden;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background: url(../images/samantha.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
}

[hidden] {
	display: none;
}

h2 {
    font-family: Marck+Script, cursives;
}

.about {
    padding: 7rem 3rem;
    text-align: center;
    background-color: #D9DADE;
}

.text-align {
    text-align: center;
}

.text-hover {
    height: 100%;
}

.box {
    background-color: #D9DADE;
    margin: 0;
    padding: 3rem;
}

.box1 {
    margin: 0;
    padding: 3rem;
}

.box2 {
    margin: 0;
    padding: 3rem;
    background-color: #D9DADE;
}

.box3 {
    margin: 0;
    padding: 3rem;
    margin-top: 10rem;
    text-align: center;
}

.nav-bar {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.nav {
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}

.services {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    text-decoration: none;
}

video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

.icon {
    width: 10rem;
    text-align: center;
    padding: 1rem;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.icon:hover {
    opacity: 0.3;
}

p {
    font-family: sans-serif;
}

.link {
    text-decoration: none;
    padding: 2rem;
    font-family: sans-serif;
    color: #000;
}

.image {
    margin-top: 5rem;
}

.center {
    text-align: center;
}
  