---
layout: default
meta: Samantha McGregor • Graphic Design • UI/UX
priority: 1.0
Changefreq: weekly
---

<main id="main" itemscope itemtype="https://schema.org/CreativeWork" itemtype="https://schema.org/Thing" role="main"> 

<div id="about">
    <section class="about"> 
        <div class="about">
            <h2 class="island" itemprop="author">Welcome to my site!</h2>
            <p class="text-align island" itemprop="about">I’m a Graphic Designer whos always down for a good adventure. I'm a creative thinker, innovater/ problem solver and I love to create beautiful, simple and effective designs. UX/UI, branding, web design and photography are my passions. I love to create a mixture of design and usuability in order to create a long lasting impression.</p>
        </div>
    </section>
</div>

{% for portfolio in site.data.portfolio-pieces %}
    <div id="portfolio portfolio-{{portfolio.id}}" class="hover select-box view_element" style="background-image: url({{site.baseurl}}/images/{{portfolio.bg}});">
                <a href="#{{portfolio.id}}">
                    <h2 class="white text-align" itemprop="Headline">{{portfolio.title}}</h2>
                    <div class="text-hover">
                    <p class="white text-align" itemprop="Genre">{{portfolio.classification}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
        
        <div id="{{portfolio.id}}" class="content">
            {% include {{portfolio.image-include}} %}
            <div class="pad-b">
                <a href="#portfolio-{{portfolio.id}}">
                    <img class="text-align close" src="images/close.svg">
                </a>
            </div>
        </div>
    </div>

{% endfor %}