<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h2 class="text-align space island">Alarm Buddy</h2>
        <h5 class="text-align">UI/UX, Interaction Design</h5>
        <p class="text">An innovative solution for those who just
 can’t seem to get up on time, it’s a go to app for heavy sleepers! It sparks creativity by allowing you to come up with creative locations in order to deactivate the alarm like your ceiling lights, bedroom door or if you’re more serious about really getting up on time, then you could always register the bathroom sink or an item in the kitchen!</p>
        <img class="bilimage" src="images/process-01.svg" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="bilimage" src="images/proto.png" alt="">
        <img class="bilimage" src="images/mobile.png" alt="">
    </div>
</div>