<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h1 class="text-align space island">Alarm Buddy</h1>
        <h5 class="text-align">UI/UX, Interaction Design</h5>
        <p class="text">It's the innovative solution for those who just
 can’t seem to get up on time, it’s a go to app for heavy sleepers!</p>
    </div>
    <div class="box2 unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <p class="whitet island">TARGET AUDIENCE</p>
        <p class="white">Alarm Buddy is an app that targets a wide range of users anywhere aged 
from about 16 all the way to 45 with simple to moderate use of technology skills.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="bilimage" src="images/alarm.png" alt="">
    </div>
</div>