<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h1 class="text-align  space island">Gatineau Park</h1>
        <h5 class="text-align">UI/UX, Interaction Design</h5>
        <p class="text">Creating an App for Gatineau Park to help adventurers get around and to encourage them to look into the history about certain locations. Often visiters get lost on trails or are unsure of which trail goes where. The app helps to focus on those pain points. </p>
    </div>
</div>