
<div class="grid grid-middle isometric">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h1 class="text-align  space island">Home Theatre</h1>
        <h5 class="text-align">Isometric Illustration</h5>
        <p class="text text-align island">The illustration portrays the real life cinema experience but the setting is in a laptop to show that these days most people watch their movies at home on their laptops. The proportion is out of perspective to illustrate what the real life objects at home would be.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="images" src="images/isometric.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <img class="iso" src="images/iso-03.png" alt="">
    </div>
    <div class="pad4 unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <p class="text-align island">The illustration goes through a process and it starts with picking up the tickets for the movie.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <img class="iso" src="images/iso-01.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <p class="text-align island pad4">While waiting for the movie you can go play games with your friends and hang out around the cinema.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <img class="iso" src="images/iso-04.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <p class="text-align island pad4">You can pick up your drinks and snacks before viewing the movie.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <img class="iso" src="images/iso-02.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-4">
        <p class="text-align island pad4">When ready, you then go to wait in line to see the new release of a movie.</p>
    </div>
</div>