
<div class="grid grid-middle">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h2 class="text-align  space island">Home Theatre</h2>
        <h5 class="text-align">Isometric Illustration</h5>
        <p class="text2 text-align">The illustration portrays the real life cinema experience but the setting is in a laptop to show that these days most people watch their movies at home on their laptops. The proportion is out of perspective to illustrate what the real life objects at home would be.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="images" src="images/isomet.png" alt="">
    </div>
</div>