<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h2 class="text-align  space island">Capturing moments</h2>
        <h5 class="text-align">Photography</h5>
        <p class="text">From adventuring on a beautiful mediterranean Island to the wilderness of Canada, I thrive to explore and to enjoy what life has to offer and throughout my journey I strive to capture the moments of my life.</p>
    </div>
    <div class="unit unit-xs-1-2 unit-s-1 unit-m-1 unit-l-1">
        <img class="photo" src="images/cy.png" alt="Cyprus">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="photo" src="images/alex.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="photo" src="images/sea.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="photo" src="images/flower.png" alt="">
    </div>
    <a class="swipebox" rel="gallery-4" href="img/burgundy/1.jpg" title="FLowers">
        <img class="title-image" src="images/flower.png" alt="Flowers">
    </a>
</div>