<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h2 class="text-align  space island">Adventurer TV Series</h2>
        <h5 class="text-align">Motion Graphics</h5>
        <p class="text">Adventurer is a fictional TV series that features different types of activites. All videos that have been used are my own and I created an intro to the TV series, Lower thirds and a transition between scenes.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="images" src="images/styleboard.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    </div>
</div>
<div class="grid widthz">
    <div class="unit unit-xs-1 unit-1 unit-m-1 unit-l-1">
        <div class="embed embed--16by9" aria-label="Video of Samantha McGregor">
            <video class="embed_item" src="http://portfolio-230f.kxcdn.com/McGregor, Samantha, Adventurer.mp4" loop controls id="motionv" height="330" poster="images/adventurer.png">
                <h1>Designer/ Adventurer</h1>
            </video>
        </div>
    </div>
</div>