<div class="grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h1 class="text-align  space island">Adventurer TV Series</h1>
        <h5 class="text-align">Motion Graphics</h5>
        <p class="text text-align island">Adventurer is a fictional TV series that features different types of activites. All videos that have been used are my own and I created an intro to the TV series, Lower thirds and a transition between scenes.</p>
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="bilimage" src="images/styleboard.png" alt="">
    </div>
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <p class="text">Creating a series of style boards was the first part of the process.</p>
    </div>
    <div class="unit unit-xs-1 unit-1 unit-m-1 unit-l-1">
        <div class="embed embed--16by9" aria-label="Motion Graphics">
            <video class="embed_item" src="http://portfolio-230f.kxcdn.com/final.mp4" loop autoplay id="motionv" height="330">
                <h1>Motion Graphics</h1>
            </video>
        </div>
    </div>
</div>