<div class="grid grid-middle">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <h2 class="text-align  space island">Watt-A-Saver</h2>
        <h5 class="text-align">UI/UX</h5>
        <p class="text2 text-align">An app that helps contribute towards the UN Globals goals and focuses on the global goal 7 while helping the user monitor their electricty usage and them saving on their monthly bills.</p>
    </div>
</div>

    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <img class="images" src="images/study.png" alt="Case Study">
    </div>